name: myPlanet build

on:
  push:
    branches:
      - '**'
      - '!master'

jobs:
  build:
    name: myPlanet build
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        build: [default, lite]
    steps:
      - name: checkout repository code
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: setup gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: wrapper

      - name: build debug as test
        run: |
          FLAVOR=${{ matrix.build }}
          ./gradlew assemble${FLAVOR^}Debug --configuration-cache-problems=warn --warning-mode all --stacktrace --parallel --max-workers=4
