name: Dependabot Checks

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - master
      - main

jobs:
  dependabot-check:
    runs-on: ubuntu-24.04
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3

      - name: Build and Lint
        run: ./gradlew assembleDefaultDebug lintDefaultDebug testDefaultDebugUnitTest --no-daemon
