name: Reusable setup

on:
  workflow_call:
    inputs:
      build:
        required: true
        type: string

jobs:
  setup:
    name: myPlanet setup
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository code
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: check and diff the code to get lite
        if: inputs.build == 'lite'
        run: |
          file="app/src/main/AndroidManifest.xml"
          lite="app/src/lite/AndroidManifest.xml"
          ls -al "$file" "$lite"
          diff <(sed 's/^\s*<!--//; s/-->\s*$//' "$file") <(sed 's/^\s*<!--//; s/-->\s*$//' "$lite")
          cp "$lite" "$file"

      - name: setup JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: setup gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: wrapper
          cache-disabled: false
          cache-read-only: false
          cache-write-only: false

      - name: Upload workspace
        uses: actions/upload-artifact@v4
        with:
          name: workspace-${{ inputs.build }}
          path: .
