name: Reusable setup

on:
  workflow_call:

jobs:
  setup:
    name: myPlanet setup
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository code
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: setup JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: setup gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: wrapper
          cache-disabled: false
          cache-read-only: false
          cache-write-only: false

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Download dependencies
        run: ./gradlew dependencies

      - name: Clean gradle cache from workspace
        run: rm -rf .gradle

      - name: Upload workspace
        uses: actions/upload-artifact@v4
        with:
          name: workspace
          path: .
